<launch>

    <arg name="project" default="lio_sam"/>

    <!-- <env name="ROSCONSOLE_CONFIG_FILE" value="$(find lio_sam)/launch/include/rosconsole/rosconsole_error.conf"/> -->
    
    <!-- EKF GPS-->
    <!-- <node pkg="robot_localization" type="ekf_localization_node" name="ekf_gps" respawn="true">
        <remap from="odometry/filtered" to="odometry/navsat" />
    </node> -->

    <!-- Navsat -->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat" respawn="true" output="screen">
        <rosparam param="zero_altitude">false</rosparam>
        <rosparam param="wait_for_datum">false</rosparam>
        <rosparam param="use_odometry_yaw">true</rosparam>
        <!-- <rosparam param="broadcast_utm_transform">true</rosparam> -->
        <!-- <rosparam param="datum">[55.7588363757, 48.7526105427, 0.0]</rosparam> -->
        <remap from="imu/data" to="imu_raw" />
        <remap from="gps/fix" to="gps/fix" />
        <remap from="odometry/filtered" to="odometry/imu" />
        <!-- <remap from="odometry/filtered" to="odometry/gps" /> -->
    </node>

</launch>